<p id="notice"><%= notice %></p>
<div>
<div>
<h1>Movies</h1>
</div>
<div class="indexmovie">
  <div class="leftcol">
    <table width="100%">
      <thead>
        <tr>
          <th>Title</th>
          <th>IMDB Rating</th>
        </tr>
      </thead>

      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.rating %>/10</td>
            <td><%= link_to 'Show', movie, :class => 'btn btn-link' %></td>
            <% if current_user && current_user.admin %>
              <td><%= link_to 'Edit', edit_movie_path(movie), :class => 'btn btn-link edit' %></td>
              <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-link destroy' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="indexpicture">
    <td ><img src="/movieindex.png" height="300px" width="450px"></td>
  </div>
</div>
<br>

<% if current_user && current_user.admin %>
  <%= link_to 'New Movie', new_movie_path, :class => 'btn btn-primary' %>
<% end %>
