<p id="notice"><%= notice %></p>

<p>
  <strong>Title</strong>
  <%= @movie.title %>
</p>

<p class="ptagw">
  <strong>Description:</strong><br>
  <%= @movie.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>IMDB Rating:</strong>
  <%= @movie.rating %>/10
</p>

<p>
  <strong>Age rating:</strong>
  <%= @movie.age_rating %>
</p>

<p>
  <strong>Director:</strong>
  <%= link_to @movie.director.name, director_path(@movie.director), :class => 'hlink' %>
</p>
<br>
<br>
<%= link_to 'Edit', edit_movie_path(@movie), :class => 'btn btn-primary' %>
<%= link_to 'Back', movies_path, :class => 'btn btn-success' %>
<hr>
<h3>Comments</h3>
<% @movie.comments.each do |comment| %>
  <div>
    <p><strong><%= comment.user.email.split("@").first %></strong></p>
    <p class="comments"><%= comment.body %>

    <% if (current_user == comment.user) || current_user.admin %>
        <%= link_to '[X]', [comment.movie, comment], method: :delete, data: { confirm: 'Are you sure'}, :class => 'hlinkX' %></p> 
    <% end %>
  </div>
  <br>
<% end %>
<hr>
<h3>Add Comment</h3>
<%= form_for([@movie, @movie.comments.build]) do |c| %>
    <p>
        <%= c.hidden_field(:user_id, {:class => 'form-control', :value => current_user.id }) %>
    </p>
    <p>
        <%= c.text_area(:body, {:class => 'form-control myform myformdescription'}) %>
    </p>

    <p>
        <%= c.submit({:class => 'btn btn-success'}) %>
    </p>
<% end %>
