<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @director.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @director.age %>
</p>

<p>
  <strong>Oscars:</strong>
  <%= @director.oscars %>
</p>

<a href="#">Add to my list</a> |
<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
