<!DOCTYPE html>
<html>
  <head>
    <title>Movie Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
      <div class="col-md-12 navimargin">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email.split("@").first %></strong>
           <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link hlink' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link hlink' %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link hlink' %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link hlink' %>
          <% end %>
        </div>
        <div class="col-md-12" style="padding-left: 0px; padding-left: 0px;">
          <nav class="navbar navbar-default navbar-inverse navinavi">
              <ul class="nav navbar-nav">
                <li class="btn btn-secondary navbarlinks"><a href="/">Homepage</a></li>
                <li class="btn btn-secondary"><a href="/movies">Movies</a></li>
                <li class="btn btn-secondary"><a href="/directors">Directors</a></li>
              </ul>
          </nav>
        </div>
        <div class="col-md-12 maincontainer">
          <%= yield %>
        </div>
      </div>
    </div>      
  </body>
</html>
